.aboutCont{
  padding: 30px 0 25px ;
  width: 100%;
  position: relative;
  text-align: center;
  background: #f1f6fe;
  border-radius: 3rem;
}
    .ulAbout {
    list-style: none;
    padding: 0;
  }
  .liAbout {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
  }
  .liAbout:first-child {
    margin-top: 35px;
  }
  .spanAbout {
    padding: 1.3rem;
    margin-top: 3rem !important;
    border-radius: 5px;
   }