    .ulAbout {
    list-style: none;
    padding: 0;
  }
  
  .liAbout {
    display: flex;
    align-items: flex-start;
    margin-bottom: 35px;
  }
  
  .liAbout:first-child {
    margin-top: 35px;
  }
  
  .spanAbout {
    box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
    padding: 1.3rem;
    margin-right: 1rem;
    border-radius: 50px;
   }