.carsoleDiv{
    position: relative;
}
.carsoleOverlay{
position: absolute;
background-color:rgba(0,0,0 ,0.5);
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 1;
}

.carsouelCaption{
top: 45%;
transform: translateY(-35%);
z-index: 2;

}
.spanQoutes{
    
    font-size: 3rem;
}
.spanQoutes1{
    font-size: 3rem;
}
.spanQoutes2{
    font-size: 3rem;
   
}


