/* Department Card component style sheet. */
.cardContainer {
    min-height: 15rem;
    max-height: 15rem;
    border: 0.1rem solid ;
    border-radius: 7.5px !important;
    -webkit-border-radius: 7.5px !important;
    -moz-border-radius: 7.5px !important;
    -ms-border-radius: 7.5px !important;
    -o-border-radius: 7.5px !important;
    box-shadow: 0px 30px 40px -20px #8787b2;
}
.textStyle{
    color: #ec7462;
}
.descrpitionText {
    color: #767676;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.cardContainer:hover {
    background-color:#ea9b8f;
    color: #ffffff !important;
    border: unset !important;
    transform: scale(1.06);
    transition: 0.2s;
}

.cardContainer:hover .descrpitionText {
    color: #ffffff !important;
}