/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts{
    padding: 70px 0 60px;
    display: flex;
  flex-direction: column;

  }
  .counts>*:first-child {
    align-self: center;
} 
  
  .counts .countBox {
    padding: 30px 30px 25px 30px;
    width: 100%;
    position: relative;
    text-align: center;
    background: #f1f6fe;
  }
  
  .counts .countBox i {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    background: #106eea;
    color: #fff;
    width: 56px;
    height: 56px;
    line-height: 0;
    border-radius: 50px;
    border: 5px solid #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .counts .countBox span {
    font-size: 36px;
    display: block;
    font-weight: 600;
    color: #062b5b;
  }
  
  .counts .countBox p {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }
  
  /* style react icon*/ 
   .iconStyles 
   { color: "white";  }
  