.mainContainer{
    margin-right: 0;
}
.cardBodyContainer {
    /* margin-left: 1rem;
    margin-right: 1rem; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* design form container div */

.cardBodyContainer h3{
    border-bottom: solid #306778;
    display: inline-block;
    color:#306778
}
.colFormLabel{
    height:2.5rem;
    padding-top: 0;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.inputLabel{
    color: #757575;
}
.inputWidth{
    width: 20rem;
    height: 2.9rem;

}

.colFormLabel2{
    height:9.5rem;
    padding-top: 0;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: white;
    color: black;
}
.textAreainput{
    width: 20rem;
    resize: none;
}
/* style placeholder with each broswer */
.colFormLabel::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#ccc;
    opacity: 1; /* Firefox */
}
.colFormLabel:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#ccc;

}

.colFormLabel::-ms-input-placeholder { /* Microsoft Edge */
    color:#ccc;

}
.smallDescription{
    color: #999;
    font-size: 0.844rem;

}
.formSelection option{
    color:#ccc;
}

.formSelection{
    color:#BBB9B9;
}
/* style confirm and cancel */

.confirmBtn {
    padding-top: 0.475rem;
    padding-bottom: 0.475rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}
